<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="439" MadCap:lastWidth="1492" MadCap:fileTags="AuthorFileTagSet.Matthew,Status.Flare V7 Needs Review,Product.Flare">
    <head>
    </head>
    <body>
        <h1>Templates </h1>
        <p class="bold">Bug Base Product Area: </p>
        <ul>
            <li>Templates</li>
        </ul>
        <p>&#160;</p>
        <p class="bold">Description:</p>
        <p>Templates allow users to point to multiple locations on the local hard drive, mapped drives or network locations to dedicated template folders. They can create new files from these locations and also add descriptions and manage the files in those locations.</p>
        <p>&#160;</p>
        <p class="bold">Test Plans:</p>
        <ul>
            <li>
                <MadCap:xref href="Template Management - UI.htm" class="TitleOnly">
                    <a href="Template Management - UI.htm" title="Template Management - UI" alt="Template Management - UI">Template Management - UI</a>
                </MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Templates - Saving Templates.htm" class="TitleOnly">
                    <a href="Templates - Saving Templates.htm" title="Templates - Saving as a Template" alt="Templates - Saving as a Template">Templates - Saving as a Template</a>
                </MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Templates - Using Templates.htm" class="TitleOnly">
                    <a href="Templates - Using Templates.htm" title="Templates - Using Templates" alt="Templates - Using Templates">Templates - Using Templates</a>
                </MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Templates - Baseline.htm" class="TitleOnly">
                    <a href="Templates - Baseline.htm" title="Templates - Baseline" alt="Templates - Baseline">Templates - Baseline</a>
                </MadCap:xref>
            </li>
        </ul>
        <p>&#160;</p>
        <p class="bold">Dependencies:</p>
        <ul>
            <li>None</li>
        </ul>
        <p>&#160;</p>
        <p class="bold">Testing Resources (Copy all files to local Machine before importing):</p>
        <ul>
            <li>
                <a href="file://fs1/QA/Test Projects/Network Templates">\\fs1\QA\Test Projects\Network Templates</a>
            </li>
        </ul>
        <p>&#160;</p>
        <p class="bold">Notes and things to add to the testing resources:</p>
        <ul>
            <li>None</li>
        </ul>
        <p>&#160;</p>
    </body>
</html>